* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid {
    border: 2px blue solid;
    width: 100%;
    height: 98vh;
    grid-template-columns: 10% 22.5% 22.5% 22.5% 22.5%;
    grid-template-rows: 5% 7% 10% 17% 17% 44%;
    display: grid;
}
  
.box {
    color: black;
    border-radius: 5px;
    border: 2px green solid;
}

.navbar {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: rgb(23, 26, 196);
    width: 133.5%;
}

.Sidebar{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 7;
}

.Contenerdor1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: 20px;
    margin-left: 10px;
    background-color: black;
    width: 132%;
    border-radius: 15px;
}

.Contenerdor2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(0, 209, 35);
    border-radius: 15px;
}

.Contenerdor3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(16, 163, 231);
    border-radius: 15px;
}

.Contenerdor4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 3, 3);
    border-radius: 15px;
}

.Contenerdor5 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(223, 145, 0);
    border-radius: 15px;
}

.Contenerdor6 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    margin-top: 20px;
    margin-left: 20px;
    width: 95%;
    background-color: black;
    border-radius: 15px;
}

.Contenerdor7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    background-color: black;
    border-radius: 15px;
}

.Contenerdor8 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    background-color: black;
    border-radius: 15px;
}

.Contenerdor9 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 20px;
    margin-left: 20px;
    width: 95%;
    background-color: black;
    border-radius: 15px;
}

.Contenerdor10 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 20px;
    margin-left: 20px;
    width: 95%;
    height: 93%;
    background-color: black;
    border-radius: 15px;
}

.Contenerdor11 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 20px;
    width: 85%;
    height: 93%;
    background-color: black;
    border-radius: 15px;
}