* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid {
    border: 2px blue solid;
    width: 100%;
    height: 98vh;
    grid-template-columns: 15% 27.5% 27.5% 30%;
    grid-template-rows: 10% 25% 30% 15%;
    display: grid;
}
  
.box {
    color: black;
    border-radius: 5px;
    border: 2px green solid;
}

.navbar {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: rgb(23, 26, 196);
}

.Sidebar{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 7;
}

.Contenerdor1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-top: 25px;
    margin-left: 20px;
    background-color: black;
    border-radius: 15px;
}

.Contenerdor2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(127, 141, 129);
    border-radius: 15px;
    height: 120%;
}

.Contenerdor3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(127, 141, 129);
    border-radius: 15px;
    height: 125%;
}

.Contenerdor4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(127, 141, 129);
    border-radius: 15px;
}

.Contenerdor5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 25%;
    margin-left: 20px;
    margin-bottom: 90%;
    background-color: rgb(127, 141, 129);
    border-radius: 15px;
    height: 125%;
}

.Contenerdor6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 5%;
    margin-left: 10px;
    margin-bottom: 90%;
    background-color: rgb(127, 141, 129);
    border-radius: 15px;
    height: 185%;
    margin-right: 10px;
}

.Contenerdor7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 5%;
    margin-left: 10px;
    margin-bottom: 90%;
    background-color: rgb(127, 141, 129);
    border-radius: 15px;
    height: 185%;
    margin-right: 10px;
}