$font-family: 'Roboto', sans-serif;
$font-size-small: 0.8rem;
$font-size-base: 1rem;
$font-size-large: 1.2rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$color-border-light: #f8f8f8;
$color-border-dark: #262626;
$color-background-button: #262626;
$color-text-button: #ffffff;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

$border-radius-small: 0.25rem;
$border-radius-medium: 0.5rem;
$border-radius-large: 1rem;
$border-width-thick: 10px;
$border-width-button: 1px;

$box-flex-basis: calc(50% - 20px);
$margin-box: 10px;
$padding-left-detail: 10%;
$padding-button: 8px 35px;
$margin-top-p: 20px;
$margin-top-a: 30px;
