@import '../helpers/mixins';
.about_section {
  .row {
    @include center-flex;
  }

  .detail-box {
    padding-left: 10%;

    p {
      margin-top: 20px;
    }

    a.btn-1 {
      @include button-style(#262626, #262626, #ffffff);
    }

    a.btn-2 {
      @include button-style(#262626, #262626, #ffffff);
    }
  }

  .img-box {
    img {
      width: 100%;
    }
  }
}