@import '../helpers/extend';

.app_section {
  background-image: url(../images/app-bg.jpg);
  background-size: 100% 86%;
  background-repeat: no-repeat;
  color: #ffffff;
  background-position: bottom;

  .row {
    @extend %center-align;
  }

  .img-box {
    @extend %img-full-width;
  }

  .detail-box {
    padding-top: 60px;

    h2 {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 35px;

      span {
        font-size: 1.5em;
      }
    }

    p {
      color: #ffffff;
    }

    .btn-box {
      margin-top: 35px;

      a {
        margin-right: 10px;

        img {
          max-width: 100%;
        }
      }
    }
  }
}