@import '../helpers/variables';

.client_section {
  .heading_container {
    @include center-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .box {
    width: $width-box;
    margin: $margin-heading-container;

    .client_id {
      @include center-flex;
      h4 {
        margin: 0;
        margin-left: $margin-client-id;
      }
    }

    .detail-box {
      margin-top: $margin-detail-box;
    }
  }

  .carousel-indicators {
    margin: 0;
    @include center-flex;
    bottom: -15px;

    li {
      margin: 0 3px;
      width: $width-carousel-indicator;
      height: $height-carousel-indicator;
      opacity: 1;
      background-color: $color-primary;
      border-radius: $border-radius-circle;

      &.active {
        background-color: $color-secondary;
      }
    }
  }
}
