@import '../helpers/variablesContacs.scss';

.contact_section {
  h2 {
    text-align: center;
    font-weight: $font-weight-bold;
    margin-bottom: $margin-bottom-heading;
  }

  .form_container {
    padding: 0 $spacing-medium;

    input {
      width: 100%;
      height: $input-height;
      margin-top: $spacing-small;
      border: none;
      border-bottom: $border-width-thin solid $border-color-input;
      outline: none;

      &.message_input {
        margin-top: $margin-top-input-message;
      }

      &::-webkit-input-placeholder,
      &:-ms-input-placeholder,
      &::-ms-input-placeholder,
      &::placeholder {
        color: $color-placeholder;
      }
    }

    button {
      background-color: transparent;
      border: $border-width-thick solid $color-button;
      color: $color-button;
      text-transform: uppercase;
      padding: $button-padding;
      border-radius: $border-radius-button;
      margin-top: $margin-top-form-container;
    }
  }

  .contact_box {
    margin-top: $spacing-medium;

    a {
      @include center-flex; // Si tienes este mixin para alinear
      color: $color-text-primary;
      margin: $spacing-small 0;

      .img-box {
        width: $img-box-size;
        height: $img-box-size;
        padding: $spacing-small;
        border: $border-width-thin solid $color-text-primary;
        @include center-flex; // Si tienes este mixin para alinear

        img {
          width: 100%;
        }
      }
    }
  }
}
